/* 
   reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /* font-family: 'Gentium Book Plus', serif; */
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
   reset end
*/

/* * { outline: solid 2px rgba(255, 27, 27, 0.76); } */

/****
   section Cemil
*/
.mainheader {
    background-image: url("assets/bgk-header.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.logo {
    display: flex;
}

.tajam {
    align-self: center;
    font-size: 25px;
    color: aqua;
    font-weight: 100;
}

.navbar {
    display: flex;
    float: right;
    margin-right: 50px;
    align-self: center;
    color: white;
}


.navbar li {
    /* float: right; */
    display: inline;
    margin: 10px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.creative {
    display: flex;
    align-self: center;
    font-size: 30px;
    margin: 25px;
}

.line {
    width: 50px;
    border-color: aqua;
}

.sometext {
    display: flex;
    align-self: center;
    text-align: center;
    width: 50%;
    margin: 25px;
}

.learn {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    color: aqua;
    background-color: transparent;
    border: 1px solid aqua;
    font-weight: bold;
    border-radius: 2px;
}

.ourstory {
    display: flex;
    justify-content: center;
    height: 300px;

}

.logo-left {
    display: flex;
    width: 20%;
    align-items: center;
}

.logo-left img {
    height: 100px;
    width: 100px;
}

.story-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
}

.story-right p {
    padding-top: 20px;
}

.learn {
    margin-top: 30px;
}

.ourstory .story-right h2 {
    font-weight: bold;
}

/*
   section Cemil end
*/


/****
   section Gabriela
*/
.expertise-image-background {
    min-height: 50vh;
    background-image: url(assets/bgk-middle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    text-align: center;

}

.play-button {
    margin-top: 8rem;

}

#watchOurStory {
    color: white;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: 1.5rem
}

.block-section-expertise {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.heading-border-expertise {
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

}

.expertise-item {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    box-sizing: border-box;

}

.expertise-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8rem;
    line-height: 1.5rem;
    padding: 1.2rem;

}

.expertise-texts {
    font-weight: 350;
    word-spacing: 3px;
}

.heading-block-expertise {
    font-family: "Roboto", serif;
    text-transform: uppercase;
    color: #201f22;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

}

.listing {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 20px;
    gap: 0px;

}


.expertise-item div {
    min-height: 60px;
}

.expertise-item p {
    line-height: 1.5rem;

}

.border-bottom {
    border-bottom: 1px solid rgb(221, 219, 219)
}

.border-left {
    border-left: 1px solid rgb(221, 219, 219);
}

/* 
   section Gabriela end
*/


/****
   section Christian
*/

/* * { outline: solid 2px rgba(255, 27, 27, 0.76); } */

#team_section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/bgk-team.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 50px ; */

}

#team_section .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#team_section .container .row {
    width: 100%;
    max-width: 80%;
    margin: 60px 0px 10px 0px;
    color: white;
    text-align: center;
}

#contact_section .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact_section .container .row {
    width: 100%;
    height: 100%;
    max-width: 80%;
    margin: 60px 0px 10px 0px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 60px;
}

#contact_section .container .row .col-2 {
    box-sizing: border-box;
    width: 45%;
    min-width: 200px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: left;
}

#contact_section .container .row .col-2 h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

#contact_section .container .row .col-2 form {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#contact_section .container .row .col-2 input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
    /* width: 100%; */
}

#contact_section .container .row .col-2 textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    /* width: 100%; */
    resize: none;
    padding-left: 20px;
    padding-top: 15px;
}

#contact_section .container .row .col-2 input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Gentium Book Plus', serif;
    font-size: 16px;
    font-weight: 700;

}

#contact_section .container .row .col-3 {
    box-sizing: border-box;
    width: 27%;
    min-width: 415px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: left;
}

#contact_section .container .row .col-3 .horiz-wrapper {
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    height: auto;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
}

#contact_section .container .row .col-3 img {
    width: 150px;
    /* margin-top: 40px; */
}

#contact_section .container .row .col-3 h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

#contact_section button {
    background-color: transparent;
    border: 1px solid #68dacd;
    color: #68dacd;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 35px;
    text-transform: uppercase;
    width: 120px;
    border-radius: 3px;
    padding: 0 20px;
}

#team_section .container .row2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 50px;
    color: white;
    gap: 40px;
}

#team_section .container .row3 {
    width: 100%;
    max-width: 80%;
    margin: 50px 0px;
    color: white;
    text-align: center;
}

#team_section .container .row2 .col-1 {
    /* width: 20%; */
    flex-basis: 20%;
    min-width: 200px;
    height: auto;
    /* margin: 20px; */

    display: flex;
    justify-content: center;
}

#team_section .row h1 {
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}


#team_section .row h2 {
    font-size: 23px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    letter-spacing: 1px;
}

#team_section hr {
    width: 66px;
    margin-top: 25px;
    opacity: 0.2;
    border: 1px solid white;
}

#team_section .card {
    width: 230px;
    height: 330px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#team_section .card .card-top {
    width: 100%;
    height: 260px;
    background-color: white;
}

#team_section .card .card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 260px;
}

#team_section .card .card-bottom {
    width: 100%;
    height: 100%;
    max-height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team_section .card .card-bottom .name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;

}

#team_section .card .card-bottom .position {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 8px;
}

#team_section .row3 button {
    background-color: transparent;
    border: 1px solid #68dacd;
    color: #68dacd;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
    text-transform: uppercase;
    width: auto;
    border-radius: 3px;
    padding: 0 20px;
}

#team_section .row3 h2 {
    font-size: 23px;
    /* margin-top: 15px; */
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    word-spacing: 2px;
}

#contact_section form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 575.98px) {
    #contact_section .container .row .col-2 {
        box-sizing: border-box;
        width: 100%;
    }

    #contact_section .container .row .col-3 {
        width: 27%;
        min-width: 200px;
    }
}

@media screen and (max-width: 767.98px) {
    #team_section .container .row2 .col-1 {
        flex-basis: 50%
    }

    /* forces three items to a line */
}

@media screen and (max-width: 991.98px) {
    #contact_section .container .row .col-2 .horiz-wrapper {
        gap: 30px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 1199.98px) {
    /* forces three items to a line */
}

@media screen and (max-width: 1399.98px) {
    #team_section .container .row2 .col-1 {
        flex-basis: 33%
    }

    /* forces three items to a line */
}


/* 
   section Christian
*/