/* 
   reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
   reset end
*/


/****
   section Cemil
*/

.mainheader {
	background-image: url("assets/bgk-header.png");
	background-size: contain; 
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 350px;
}

.logo {
	display: flex;
}

.tajam {
	align-self: center;
	
}

.navbar {
	display: flex;
	float: right;
	margin-right: 50px;
	align-self: center;
	color: white;
}


li {
	/* float: right; */
	display: inline;
	margin: 10px;
}

.awesome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.creative {
	display: flex;
	align-self: center;
	font-size: 30px;
}

.sometext {
	display: flex;
	align-self: center;
	text-align: center;
}

.amazingteam {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.meet {
	display: flex;
	align-self: center;
	text-align: center;
}

.moretext {
	display: flex;
	align-self: center;
	text-align: center;
}

.gallery {
	display: flex;
}



/*
   section Cemil end
*/


/****
   section Gabriela
*/

/* 
   section Gabriela
*/


/****
   section Christian
*/

/* 
   section Christian
*/